@import url(https://db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi+V2);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

::selection {
  background-color: #954edc; /* Highlight background color */
  color: #ffffff; /* Text color */
}

/* Headline text shadow  */
.headlineGlow {
  text-shadow: 0 0 20px #954edc;
}

/* starfield  */
.starfield {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(2 6 23);
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

.animate-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.shooting-star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  box-shadow: 0 0 20px 10px white;
}

@keyframes shooting-star-trail {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(500px, 500px); /* Longer diagonal streak */
    opacity: 0; /* Fade out effect */
  }
}
